:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* navbar */
#shopping-cart-button {
  position: relative;
}
#shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: -10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  background-color: #fff;
  right: 7%;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleX(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}
/* Navbar Search End */

/* Hero Section Start*/
.hero,
.tentang {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero .content {
  padding: 1.4rem 7%;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 150px;
}
.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.5;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
/* Hero Section End */

/* Kumpulan Section Start */
.about,
.menu,
.products,
.contact,
.Katalog,
.reservasi,
.Donasi,
.review,
.donasi-page {
  padding: 10rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.contact h2,
.Katalog h2,
.reservasi h2,
.Donasi h2,
.review h2,
.donasi-page h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span,
.tentang h2 span,
.Katalog h2 span,
.reservasi h2 span,
.Donasi h2 span,
.review h2 span,
.donasi-page h2 span {
  color: var(--primary);
}
/* Kumpulan Section End */

/* Tentang Kami halaman utama (index.html) Start  */
.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  -webkit-mask-image: url("../img/splash.svg");
  -webkit-mask-size: 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}
/* Tentang Kami halaman utama (index.html) End  */

/* Halaman Tentang Kami (TentangKami.html) Start */
.container {
  justify-content: center;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  margin-top: 10rem;
  padding: 2rem 0;
  text-align: justify;
  font-size: 1.1rem;
}

.tentangkami-hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.tentangkami-text {
  flex: 1 1 300px;
}

.tentangkami-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #eee;
}
.tentangkami-text h1 span {
  color: var(--primary);
}

.tentangkami-text p,
.text-container p {
  color: #eee;
  font-size: 1rem;
  line-height: 1.5;
}

.tentangkami-images {
  flex: 1 1 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 8rem;
  justify-content: center;
}

.tentangkami-images img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transform: rotate(45deg);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 4rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
  color: var(--primary);
}

.profil-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--primary); /* warna hijau kebiru-biruan */
}

.card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.struktur-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.galeri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.galeri img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.galeri img:hover {
  transform: scale(1.05);
}
.inspirational-story {
  margin: 20px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; /* Vertically center the items */
  gap: 20px;
}

.image-container {
  flex: 1;
  min-width: 250px; /* Ensures image is not too small */
  display: flex;
  justify-content: center; /* Center image horizontally in container */
}

.story-image {
  width: 80%; /* Ensures the image doesn't stretch too much */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.text-container {
  flex: 2;
  max-width: 600px; /* Limit max width of text content */
}

/* Center the section title */
.section_title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--primary);
  text-align: center; /* Centering the title */
}

/* Halaman Tentang Kami (TentangKami.html) End */

/* Katalog halaman utama (index.html) Start  */
.Katalog .row {
  display: flex;
}

.Katalog .row .Katalog-img {
  flex: 1 1 45rem;
}

.Katalog .row .Katalog-img img {
  width: 100%;
  -webkit-mask-image: url("../img/splash.svg");
  -webkit-mask-size: 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.Katalog .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.Katalog .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.Katalog .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}
/* Katalog halaman utama (index.html) End  */

/* Halaman Katalog (Katalog.html) Start */
.products h2,
.contact h2 {
  margin-bottom: 1rem;
}

.products p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.6;
}
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.products .product-image {
  padding: 1rem 0;
}

.products .product-image img {
  height: 25rem;
}

.products .product-content h3 {
  font-size: 2rem;
}

.products .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}

.products .product-stars .star-full {
  fill: var(--primary);
}

.products .product-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

/* Halaman Katalog (Katalog.html) End */

/* Reservasi halaman utama (index.html) Start  */
.reservasi .row {
  display: flex;
}

.reservasi .row .reservasi-img {
  flex: 1 1 45rem;
}

.reservasi .row .reservasi-img img {
  width: 100%;
  -webkit-mask-image: url("../img/splash.svg");
  -webkit-mask-size: 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.reservasi .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.reservasi .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.reservasi .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}
/* Reservasi halaman utama (index.html) End  */

/* Halaman Reservasi (Reservasi.html) Start */
/* Halaman Reservasi (Reservasi.html) End */

/* Donasi & Kolaborasi halaman utama (index.html) Start  */
.Donasi .row {
  display: flex;
}

.Donasi .row .Donasi-img {
  flex: 1 1 45rem;
}

.Donasi .row .Donasi-img img {
  width: 100%;
  -webkit-mask-image: url("../img/splash.svg");
  -webkit-mask-size: 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.Donasi .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.Donasi .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.Donasi .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}
/* Donasi & Kolaborasi Halaman utama (index.html) End  */

/* Halaman Donasi & Kolaborasi (Donasi.html) Start */
.donasi-section {
  background-color: var(--bg);
  color: #fff;
  padding: 10rem 5rem;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.hero-content.reverse {
  flex-direction: row-reverse;
}

.hero-content .image {
  flex: 1 1 300px;
  padding: 1rem;
}

.hero-content .image img {
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  -webkit-mask-image: url("../img/splashsplash.svg");
  -webkit-mask-size: 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.hero-content .text {
  flex: 1 1 300px;
  padding: 1rem;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-content h1 span {
  color: var(--primary);
}

.hero-content p {
  font-size: 1.1rem;
  line-height: 1.7;
}

.kegiatan-section h2 {
  margin-top: 2rem;
  margin-bottom: 50px;
  font-size: 2rem;
}

.kegiatan-section h2 span {
  color: var(--primary);
}

.kegiatan-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.kegiatan-gallery img {
  width: 100%;
  border-radius: 90px;
}

.ajakan {
  margin-top: 2rem;
}

.ajakan h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.ajakan p {
  max-width: 890px;
  margin: 0 auto 1.5rem;
  line-height: 1.6;
}

.btn-donasi {
  display: inline-block;
  padding: 12px 30px;
  background-color: #ff7f50;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btn-donasi:hover {
  background-color: #e0693f;
}
/* Halaman Donasi & Kolaborasi (Donasi.html) End */

/* Review Customer Start (index.html) */
.review {
  background-color: black;
  color: white;
}

.review-title {
  text-align: center;
  margin-bottom: 2rem;
}

.highlight {
  color: #b6895b;
}

.star-container {
  text-align: center;
}

.star-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: gold;
}

.input-container {
  text-align: center;
  margin-top: 2rem;
}

.review-input {
  width: 80%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #222;
  color: white;
}

.review-textarea {
  width: 80%;
  height: 100px;
  background-color: #222;
  color: white;
  border: 1px solid #555;
  padding: 1rem;
  border-radius: 8px;
}

.submit-button {
  background-color: gold;
  color: black;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.review-list {
  margin-top: 3rem;
}

.review-subtitle {
  text-align: center;
}

.review-card {
  background-color: #222;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 8px;
  width: 80%;
}

.review-meta {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.review-date {
  color: #888;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.review-stars {
  font-size: 1.5rem;
  color: gold;
  margin-top: 5px;
}

.review-comment {
  margin-top: 0.5rem;
}

/* Review Customer End (index.html) */

/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  object-fit: cover;
  width: 100%;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}
footer .links {
  margin-bottom: 1rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* modal box */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.5s;
}

@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}
.modal-content {
  display: flex;
  flex-wrap: nowrap;
}
.modal-content img {
  height: 16rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}
.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about .row .about-img img {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.5rem;
  }

  .about .row .content {
    padding: 0 1rem;
  }

  .about .row .content h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .about .row .content p {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .about .content a.cta {
    display: inline-block;
    margin-top: 1.5rem;
    background-color: #c9a063;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
  }
  .about-hero {
    flex-direction: column;
    text-align: center;
  }
  .about-images img {
    width: 120px;
    height: 120px;
  }

  .Katalog .row {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .Katalog .row .Katalog-img img {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.5rem;
  }

  .Katalog .row .content {
    padding: 0 1rem;
  }

  .Katalog .row .content h3 {
    font-size: 1.6rem;
  }

  .Katalog .content a.cta {
    display: inline-block;
    margin-top: 1.5rem;
    background-color: #c9a063;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
  }

  .reservasi .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .reservasi .row .reservasi-img img {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.5rem;
  }

  .reservasi .row .content {
    padding: 0 1rem;
  }

  .reservasi .row .content h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .reservasi .row .content p {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .reservasi .content a.cta {
    display: inline-block;
    margin-top: 1.5rem;
    background-color: #c9a063;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
  }

  .tainer {
    padding: 10px;
    margin: 100px auto;
  }

  .quantity-control button {
    font-size: 14px;
    padding: 8px;
  }

  .quantity-control input {
    width: 50px;
    font-size: 14px;
  }

  .Donasi .row {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .Donasi .row .Donasi-img img {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.5rem;
  }

  .Donasi .row .content {
    padding: 0 1rem;
  }

  .Donasi .row .content h3 {
    font-size: 1.6rem;
  }

  .Donasi .content a.cta {
    display: inline-block;
    margin-top: 1.5rem;
    background-color: #c9a063;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding: 0;
  }
  .modal-content {
    flex-wrap: wrap;
  }
  .donasi-page {
    padding: 10rem 7% 1.4rem;
  }

  .donasi-page h2 {
    font-size: 2.6rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 3rem;
  }
  .donasi-page h2 span {
    font-size: 2.6rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 3rem;
  }
  .donasi-page img {
    max-width: 90%;
    border-radius: 10px;
    margin: 15px auto;
  }

  .sponsor-list {
    margin: 2rem 0;
  }

  .sponsor-item {
    max-width: 90%;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  .kegiatan-gallery {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .kegiatan-gallery img {
    border-radius: 10px;
  }

  .donasi-page p {
    font-size: 14px;
    line-height: 1.6;
    margin: 1rem 0;
  }

  .btn-donasi {
    font-size: 1rem;
    padding: 12px 30px;
    margin-top: 1.5rem;
  }
  .content-container {
    flex-direction: column; /* Stack the elements vertically on mobile */
    align-items: center; /* Center align for mobile */
  }

  .image-container {
    margin-bottom: 20px; /* Add space below image */
    justify-content: center; /* Center the image in its container */
  }

  .story-image {
    max-width: 100%;
    border-radius: 8px;
  }

  .text-container {
    max-width: 100%;
    padding: 0 10px;
  }

  .section-title,
  .section-title {
    font-size: 22px; /* Adjust title font size for mobile */
  }

  .text-container p,
  .tentangkami-text p,
  .card p {
    font-size: 15px; /* Adjust paragraph font size for mobile */
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
